<%- include('../includes/header.ejs') %>
    <%- include('../includes/navigation-admin.ejs') %>

        <main>
            <!-- <form action="./add-product" class="w3-container" method="POST">

                <label>First Name</label>
                <input class="w3-input" type="text" name="title">

                <label>Last Name</label>
        <input class="w3-input" type="text">
                <input type="submit" class="w3-btn w3-blue" value="submit">
            </form> -->
            <div class="flex items-center min-h-screen bg-gray-50 dark:bg-gray-900">
                <div class="container mx-auto">
                    <div class="max-w-md mx-auto my-10 bg-red-50 p-5 rounded-md shadow-sm">
                        <div class="text-center">
                            <h1 class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200">
                                <% if(editing){ %>Edit an existing product
                                    <% }else{ %>Add a new product
                                        <% } %>
                            </h1>
                            <!-- <p class="text-gray-400 dark:text-gray-400">Fill up the form below to send us a message.</p> -->
                        </div>
                        <div class="m-5">
                            <form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" id="form">
                                <div class="mb-6">
                                    <label for="name" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Product Name</label>
                                    <input type="text" name="title" id="name" value="<% if(editing){ %><%= product.title%><% }else{ %><% } %>" placeholder="Product name" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-blue dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500 text-black"
                                    />
                                </div>
                                <div class="mb-6">

                                    <label for="price" class="text-sm text-gray-600 dark:text-gray-400">Price</label>
                                    <input type="text" name="price" id="price" value="<% if(editing){ %><%= product.price%><% }else{ %><% } %>" placeholder="Your product price" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-red dark:placeholder-blue-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500 text-black"
                                    />
                                </div>
                                <div class="mb-6">
                                    <label for="description" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Product description</label>

                                    <textarea rows="5" name="description" id="description" maxlength="300" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500 text-black"
                                        required><% if(editing){ %><%= product.description%><% }else{ %><% } %></textarea>
                                </div>
                                <input type="hidden" name="productId" value="<% if(editing){ %><%= product._id%><% }else{ %><% } %>">
                                <div class="mb-6">
                                    <button type="submit" class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none"><% if(editing){ %>Update Product <% }else{ %>Add product<% } %></button>
                                </div>
                                <p class="text-base text-center text-gray-400" id="result">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include('../includes/footer.ejs') %>